<?xml version="1.0"?>
<configuration>
<connectionStrings><add name="PiindexEntities" connectionString="metadata=res://*/PiIndexModel.csdl|res://*/PiIndexModel.ssdl|res://*/PiIndexModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.102;user id=HipiUser;password=pi;persist security info=True;database=Piindex&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>